@use "/src/styles/variable.scss" as variable;

.signInContainer {
  width: 100%;
  min-height: calc(100vh - 133px);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 24px;

  @media screen and (max-width: 767px) {
    min-height: calc(100vh - 115.5px);
  }

  .signInWrapper {
    max-width: 500px;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 24px;
    justify-content: center;
    align-items: center;

    h1 {
      font-size: 40px;
      font-weight: 600;

      @media screen and (max-width: 767px) {
        font-size: 32px;
      }
    }

    p {
      font-size: 16px;

      span {
        color: variable.$color-blue-0;
        cursor: pointer;
      }
    }

    .errorText {
      color: #e53e3e;
      font-size: 14px;
      width: 100%;
    }
  }
}
